html{
    background-color: #278C85;
}

.main{
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: 10em;
    margin-right: 10em;
    height: 600px;
    width: 1550px;
    background-color: white;
    border-radius: 14px;
}

.left{
    float: left;
    display: block;
    width: 765px;
    height: 500px;
}
.right{
    float: right;
    display: block;
    width: 765px;
    height: 500px;

}
.center{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}